@if (Author != null)
{
    <div class="col-md-4 profileCard" id="@Author.DisplayName.Replace(" ","")">
        <img class="mugShot" src="@Author.GravatarUrl" alt="@Author.DisplayName" />
        <div class="mugShotBorder">
        </div>
        <div class="profileCardWrapper">

            <p class="name">@Author.DisplayName</p>
            <p class="twitter">
                <a href="https://twitter.com/@Author.TwitterHandle">@@@Author.TwitterHandle</a>
            </p>

            <p class="description">
                @Author.ShortBioOrTagLine
            </p>

            <p class="location">
                <i class="fa fa-map-marker"></i> @Author.Location
            </p>
            <p class="website">
                <a href="@Author.WebSite" title="@Author.WebSite">@Author.WebSite</a>
            </p>
        </div>
    </div>
}